#patch-fc-grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    font-size: 2rem;
}

.add-2field-h4 {
    grid-column: 1;
    grid-row: 1;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add-fc-selector {
    grid-column: 2;
    grid-row: 1;
}

.plant-crop-h4 {
    grid-column: 1;
    grid-row: 2;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.crop-selector {
    grid-column: 2;
    grid-row: 2;
}

.confirm-crop-plant {
    grid-column: 2;
    grid-row: 3;

    border: none;
    border-radius: 0.5rem;
    background-color: #9DC183;
}

.confirm-crop-plant:hover {
    background-color: greenyellow;
    cursor: pointer;
}


.add-2field-h4,
.add-fc-selector,
.plant-crop-h4,
.crop-selector,
.confirm-crop-plant {
    margin: 0.5rem;
}

.crop-selector>option,
.add-fc-selector>option,
.add-fc-selector,
.crop-selector,
.confirm-crop-plant {
    text-align: center;
    font-size: 1.6rem;
    border: solid 2px rgb(249, 220, 183);
    border-radius: 0.25rem;
}

.confirm-crop-plant {
    border: none;
}