.InfoPage {
    font-family: 'GAMERIA', sans-serif;

}

.th-bordered {
    border: 5px thin rgb(105, 75, 50) !important;
  }

.table th{
    color: rgb(24, 154, 48) !important;
    background-color: rgb(42, 165, 144);
    font-size:larger;
  
}

#searchBarCrops{

  display: flex;
  flex-direction: row;
  justify-content: right;
  position: relative;
  right:1em;


}


#searchBarFieldTypes{

  display: flex;
  flex-direction: row;
  justify-content: right;
  position: relative;
  right:1em;
  top:36em;


}


#searchingForCrops{

   position:relative;
   left: -1em;
   top:0.3em;

}


#searchingForFieldTypes{

 position:relative;
 left: -1em;
 top:0.3em;
  
 
 

}



.body{


  background-image: url('https://media.istockphoto.com/vectors/school-chalkboard-background-vector-id937187548?b=1&k=20&m=937187548&s=170667a&w=0&h=Tzg73DmCTaS0P6Z_LoFIoiOygsD6xk_THcgN-eGoLM0=') ; 
}

#allCropsTable{
  background-color:beige;
}