.InfoPage {
    font-family: 'GAMERIA', sans-serif;
    
}

.th-bordered {
    border: 5px thin rgb(105, 75, 50) !important;
  }

.table th{
    color: rgb(24, 154, 48) !important;
    background-color: rgb(42, 165, 144);
    font-size:larger;
  
}

#searchBarCrops{

  display: flex;
  flex-direction: row;
  justify-content: right;
  position: relative;
  right:1em;


}


#searchBarFieldTypes{

  display: flex;
  flex-direction: row;
  justify-content: right;
  position: relative;
  right:1em;
  top:36em;

  


}


#searchingForCrops{

   position:relative;
   left: -1em;
   top:0.3em;

}


#searchingForFieldTypes{

 position:relative;
 left: -1em;
 top:0.3em;
  
 
 

}



