.delete-farm-tab:hover {
    background-color: rgb(183, 59, 59);
    cursor: pointer;
}

.delete-farm-tab {
    background-color: rgb(241, 117, 117);
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
}