#new-day-tab {
    background-color: lightblue;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
}

#new-day-tab:hover {
    background-color: rgb(104, 196, 226);
    cursor: pointer;
}