#footer > footer { 
    /* > any direct children of id footer  */

    /* flexbox begins */

    display: flex;
    /* direction content flows */
    flex-direction: row;
    justify-content: space-between;

}


.footerLeft {

    display: flex;
    flex-direction:  column;
    justify-content:space-around;


}


.centreFooter {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#footerNavbar > ul{

    display: flex;
    flex-direction: row;
    justify-content: center;

}

.footerRight {
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items:center;


}



.footerRight > div {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


 
#farmLogo{
 
    right:40em;
    width: 110px;
    opacity:100%;
}


/* Navbar */

:root {
    --primary-color:rgb(132,177,40);
    --secondary-color: chocolate;
}
  

#footerNavbar {

    width: 400px;
    padding-left:1em;
  
    border-radius: 0.5em;
    background: var(--primary-color);
    position: relative;
    left:5em;

}


 
.centreFooter > nav ul li {
    color: #333;
  display: inline-block;
  padding: 1rem;
  position: relative;
  

}

.centreFooter ul li a {
  color: #333;
  text-decoration: none;

}

/* Dont show the nested unordered list- default */



.centreFooter> nav ul li ul {
    display: none;

}


.centreFooter> nav ul li:hover {

    cursor: pointer;
    background: var(--primary-color);
    color: #fff;

}

.centreFooter> nav ul li a {
    color: #fff;
}





































/* showing ways to target things */


/* example of targeting specificity  */
/* .allIcon .socialNameBoxFb{

    font-size: 3rem;
} */

/* targeting siblings  */
/* a + a + a + a + a{ 
    color: pink;
} */

/* direct-parent child */
/* 
div > div {

    color: red;
}
 */


