#footer>footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #bbd6e2;
}


.footerLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;

    padding: 1rem 2rem;
}

.subscribe-and-backtotop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#scrollToTop {
    margin: 0 1rem;
}

.centreFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footerRight {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;

    padding: 1rem 2rem;
}

.footerRight>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#farmLogo {
    height: 120px;
    width: 160px;
}

.iconSize {
    width: 1.5em;
    height: 1.8em;
}

#ad1 {
    width: 220px;
    height: 85px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.581);
}

#copyright {
    font-size: 2rem;
    color: green;
    text-shadow: 2px 2px #630909;
}




/* DROPUPS */

#footerNavbar>ul {
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 0rem 3rem;
    border-radius: 0.5rem;
}