

.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  



/*  FOOTER CSS STARTS */

 
 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color:rgb(153,191,210)
   }
  
  
  
   li {
     float: left;
     background-color: rgb(132,177,40);
  
     /* moving the list items to the right */
     position: relative;
     left:0.2em;
  
   }
  
  
   /* when hover- hover in black */
   li a:hover {
     background-color: rgb(35,169,195)}
  
   li a {
     display:block;
     color: white;
     text-align: center;
     padding: 16px;
     text-decoration:underline;
   }
  
  
   #li1{
  
     position: relative;
     left: 10em;
  
   }
  
   #li2{
  
     position: relative;
     left: 10em;
   }
  
   #li3{
  
     position: relative;
     left: 10em;
   }
  
  
   #li4{
  
     position: relative;
     left: 10em;
   }